/* .movie-list-card-container:hover{
    background-color: blue;
    height: 214px;
    width: 150px;
} */
.movie-poster{
    height: 214px;
    width: 150px;
}
.movie-list-card-container{
    padding-left: 15px;
    padding-right: 15px;
}
.imdb-rating-text{
    text-align: center;
}